<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="../lib/bootstrap.php"
  strict="true"
  mapTestClassNameToCoveredClassName="true"
>
  <logging>
    <log
      type="coverage-clover"
      target="../coverage/coverage.xml"
    />
    
    <log
      type="coverage-html"
      target="../coverage/report"
      charset="UTF-8"
      yui="true"
      highlight="true"
    />
  </logging>
  
  <filter>
    <whitelist>
      <directory>../../deploy</directory>
    </whitelist>
  </filter>
</phpunit>