<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="../lib/bootstrap.php"
  strict="true"
  forceCoversAnnotation="true"
>
  <php>
    <includePath>.;../lib;../../deploy/lib</includePath>
  </php>

  <logging>
    <log
      type="coverage-clover"
      target="../report/coverage.xml"
    />
    
    <log
      type="coverage-html"
      target="../report/coverage"
      charset="UTF-8"
      yui="true"
      highlight="true"
    />
  </logging>
  
  <filter>
    <whitelist>
      <directory>../../deploy</directory>
    </whitelist>
  </filter>
</phpunit>